@using System.Globalization
@model MiniMart.Application.DTOs.Products.ProductForSiteModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="latest-products spad">
    <div class="container">
        <div class="col-lg-12 text-center">
            <div class="section-title mb-4">
                <h3>Tìm Kiếm</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" id="product-list">
            @foreach (var product in Model.Products)
            {
                <div class="col-lg-3 col-sm-6 mix all dresses bags">
                    <div class="single-product-item">
                        <figure>
                            <a href="/product/productdetail?id=@product.Id"><img src="~/images/product/@(product.Code).png" alt="" /></a>
                            <div class="p-status">new</div>
                            <div class="add-to-cart">
                                <button type="button" class="btn btn-light btn-add-cart" data-code="@product.Code">Add to Cart</button>
                            </div>
                        </figure>
                        <div class="product-text">
                            <h6>@product.Name</h6>
                            <p>@product.Price.ToString("C", CultureInfo.GetCultureInfo("vi-VN"))</p>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="more-product">
            <div class="row">
                <input type="hidden" value="@ViewBag.CurrentCategory" id="current-category" />
                <input type="hidden" value="@ViewBag.CurrentPageIndex" id="current-page-index" />
                <div class="col-lg-12 text-center">
                    <button type="button" class="btn primary-btn" id="btn-loading">Load More</button>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/js/components/shop.js"></script>
}


